{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Fast Playlist</h1>
</div>

<form class="form" action="/parse_html_file">
    <div class="container">
        <h4 class="card-header">Load HTML</h4>

        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#loadfile">File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#loadurl">URL</a>
                </li>
            </ul>
        </div>
        <div class="card-body tab-content">
            <div id="loadfile" class="container tab-pane in active">
                <label for="load_file" class="mb-2 mr-sm-2">File Path:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="load_file" name="load_file">
            </div>
            <div id="loadurl" class="container tab-pane">
                <label for="load_URL" class="mb-2 mr-sm-2">URL:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="load_URL" name="load_URL">
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="card-header">Select Parser</h4>
        <div class="card-body">
            <select class="form-control" id="sel_parser" , name="sel_parser">
                {% for opt in parsers %}
                <option>{{ opt }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</form>
{% endblock %}
